source .env

nm-applet &

pasystray -m 200 -i 5 --include-monitors -g -N all &

(sleep 2; picom -c -f -t 0 -l 0 -r 3 -m 0.85 -b) &

sxhkd &

clipcatd

# for barrier and xdotool to work right
setxkbmap
