[Desktop Entry]
Name[en_GB]=Meld Diff Patch
Name[es]=Meld Diff Patch
Name=Meld Diff Patch
GenericName[es]=Visor de diferencias en patch
GenericName=Patch Diff Viewer
Comment[es]=Compare cambios en ficheros patch
Comment=Compare changes in patch files
Keywords[es]=diff;mezcla;patch;
Keywords=diff;merge;patch;
Exec=meld-diff-patch %F
Terminal=false
Type=Application
Icon=org.gnome.Meld
MimeType=text/x-patch;
StartupNotify=true
Categories=GTK;Development;
